<div class="row">
    <div class="col-2"></div>
    <div class="col-5">
        <form class="form-inline">
            <input
                name="filter"
                class="form-control form-control-sm mr-3 w-75"
                type="text"
                placeholder="Search"
                aria-label="Search"
                [(ngModel)]="filter"
                (keyup)="filterUpdate()"
            />
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
    </div>
    <div class="col-4"></div>
    <div class="col-1">
        <button type="button" class="btn">
            <i class="fas fa-cog"></i>
        </button>
    </div>
</div>
