<div class="card" style="width: 14rem;">
    <img src="assets/music/{{ track.album }}/cover.png" class="card-img-top" alt="...">
    <div class="card-img-overlay" style="float:right">
        <button type="button" class="btn btn-sm" style="float:right">#MusicStyle</button>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ track.title }}</h5>
        <p class="card-text">{{ track.album }}</p>
        <button type="button" class="btn" (click)="like()">
            <a><i class="fas fa-heart {{ track.likes ? 'color-select' : '' }}"></i></a>
        </button>
        <button type="button" class="btn">
            <a routerlink="/tracks/track"><i class="fas fa-retweet"></i></a>
        </button>
        <button type="button" class="btn">
            <a routerlink="/tracks/track"><i class="fas fa-bookmark"></i></a>
        </button>
        <button type="button" class="btn">
            <a routerlink="/tracks/track"><i class="fas fa-external-link-alt"></i></a>
        </button>
        <button type="button" class="btn">
            <a routerlink="/tracks/track"><i class="fas fa-paste"></i></a>
        </button>
    </div>
</div>
