
.card{
    background-color: black
}

.card-title{
    background-color: black;
    color: white
}

.card-text{
    background-color: black;
    color: lightgrey
}

.btn{
    background-color: black;
    color: lightgrey
}

.btn:hover{
    background-color: darkgray;
    color: black
}

.card-img-overlay {
    bottom: auto;
    left: auto;
}
