.card{
    border: none;
    background-color: rgb(26, 26, 26);
    padding: 10px;
}

.card-img-top{
    -webkit-filter: blur(0);
	filter: blur(0);
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-img-top:hover{
    background-image: "/assets/img/play.png";
    -webkit-filter: blur(3px);
	filter: blur(3px);
    opacity: .4;
}

.card-title{
    background-color: rgb(26, 26, 26);
    color: white
}

.card-text{
    background-color: rgb(26, 26, 26);
    color: rgb(131, 130, 130)
}

.btn{
    background-color: rgb(26, 26, 26);
    color: rgb(131, 130, 130);
    padding: 5px;
    box-shadow: none
}

.btn:hover{
    background-color: rgb(26, 26, 26);
    color: white
}

.btn-sm{
    color: white
}

.card-img-overlay {
    bottom: auto;
    left: auto;
}

.fas{
    font-size: 10px;
}
