.card{
    border: none;
    background-color: rgb(26, 26, 26);
    padding: 9px;
    margin: 10px;
}

.card-title{
    background-color: rgb(26, 26, 26);
    color: white
}

.card-text{
    background-color: rgb(26, 26, 26);
    color: rgb(131, 130, 130)
}

.btn{
    background-color: rgb(26, 26, 26);
    color: rgb(131, 130, 130);
    padding: 5px;
    box-shadow: none
}

.btn:hover{
    background-color: rgb(26, 26, 26);
    color: white
}

.btn-sm{
    color: white
}

.card-img-overlay {
    bottom: auto;
    left: auto;
}

.fas{
    font-size: 10px;
}
