.center
{
     text-align: center;
}
.menu
{
    padding-top: 15px;
}
.white
{
     color:white;
     margin:5px;
}
.lien
{
     color:white;
     margin:5px;
}
.lien:hover
{
     color:orangered;
}
.user
{
     color:white;
}