<div class="leftMenu">
    <div class="col-1">
        <div class="row">
            <button type="button" class="btn" style="color: white">
                <a routerlink=""><i class="fas fa-cloud"></i>Stream</a>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn" style="color: white">
                    <a routerlink=""><i class="fas fa-heart"></i>Likes</a>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn" style="color: white">
                <a routerlink=""><i class="fas fa-bookmark"></i>Playlist</a>
            </button>
        </div>
    </div>
 </div>
