<div class="leftMenu">
    <div class="col">
        <div class="row">
            <button type="button" class="btn" style="color: white">
                <a routerLink="/tracks/track"><i class="fas fa-cloud"></i>Stream</a>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn" style="color: white">
                <a routerLink=""><i class="fas fa-heart"></i>Likes</a>
            </button>
        </div>
        <div class="row">
            <button type="button" class="btn" style="color: white">
                <a routerLink="/playlists"><i class="fas fa-bookmark"></i>Playlists</a>
            </button>
        </div>
    </div>
</div>